/* styles/variables.css */

/* Identidad NeoApp */
:root {

  /* Fonts */
   --font-main: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, sans-serif;

  /* Brand */
  --color-primary: #003049;     
  --color-accent:  #0ea5e9;

  /* Backgrounds */
  --bg-main: #020617;           /* Fondo principal */
  --bg-secondary: #0f172a;      /* Cards / secciones */

  /* Text */
  --text-main: #f8fafc;
  --text-muted: #94a3b8;

  /* UI */
  --border-color: #334155;
  --button-bg: var(--color-primary);
  --button-text: #ffffff;

  /* States */
  --hover-opacity: 0.9;
}