
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.35);
  background-repeat: repeat;
  border-bottom: 1px solid var(--border-color);
  backdrop-filter: blur(10px);
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 120px;
}

/* Links */
.links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.links a {
  color: var(--text-main);
  font-size: 1.2rem;
  font-weight:500;
  transition: opacity 0.2s ease;
}

.links a:hover {
  opacity: 0.8;
}

/* CTA */
.cta {
  margin-left: 1rem;
}

/* 📱 Responsive */
@media (max-width: 768px) {
  .links {
    display: none;
  }
}