
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:  3000;

  padding-bottom: 0px;
  background:  #0206179a;
  backdrop-filter: blur(8px);
}

.nav {
 
  max-width: 1200px;
  margin: 0.5rem auto;
  padding: 0.1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  
  
}

.logo img {
  height: 50px;
}

.logo :hover {
  transition: 1.5s;
  transform: translateY(-4px);
}

/* Links */
.links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.links a {
  display: flex;
  align-items: center;
  color: var(--text-main);
  font-size: 1.2rem;
  font-weight:500;
  text-decoration: none;
  transition: opacity 0.2s ease;
  gap: 0.5rem;
}

.links a:hover {
  opacity: 0.8;
}

/* CTA */
.cta {
  margin-left: 1rem;
}

/* 📱 Responsive */
@media (max-width: 768px) {
  .links {
    display: none;
  }
}